<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta content="width=device-width,initial-scale=1,minimal-ui" name="viewport">
	<link rel="stylesheet" href="src/font.css">
	<link rel="stylesheet" href="src/vue-material.min.css">
	<link rel="stylesheet" href="src/default.css">
	<style type="text/css">
		body{ font-family: Arial, "微軟正黑體"; }
	</style>
	<title>區塊鍊民調</title>
</head>

<body>
<div id="app">
	<div class="md-layout md-gutter md-alignment-center-space-around">
		<span class="md-title" style="margin-top:12px;">2020 總統大選 - 區塊鍊民調</span>

		<md-toolbar class="md-primary md-dense" style="margin-top:12px;">
			<md-button class="md-icon-button" @click="showNavigation = true">
				<md-icon>menu</md-icon>
			</md-button>
			<span class="md-subheading">此智能合約運行在 - Rinkeby 測試鍊</span>
		</md-toolbar>

		<md-drawer  :md-active.sync="showNavigation">
			<md-list class="md-double-line">
				<md-list-item :href="'https://rinkeby.etherscan.io/address/'+pollAddr">
					<md-icon class="md-size-2x">how_to_vote</md-icon>
					<span class="md-list-item-text md-title">合約帳戶</span>
				</md-list-item>
				<div v-if="userAddr != '0x0000000000000000000000000000000000000000'">
					<md-divider class="md-inset"></md-divider>
					<md-list-item :href="'https://rinkeby.etherscan.io/address/'+userAddr">
						<md-icon class="md-size-2x">account_balance</md-icon>
						<span class="md-list-item-text md-title">您的帳戶</span>
					</md-list-item>
					<md-divider class="md-inset"></md-divider>
					<md-list-item>
						<md-icon class="md-size-2x">attach_money</md-icon>
						<span class="md-list-item-text md-title">{{ balance }} ETH</span>
					</md-list-item>
				</div>
			</md-list>
		</md-drawer>

		<md-card class="md-layout-item md-size-70 md-small-size-90" style="margin-top:12px;">
			<md-card-header>
				<md-card-media md-medium>
					<a href="http://nav.cx/1kFnBHf">
						<img src="https://qr-official.line.me/sid/M/832ldgop.png" alt="Photo">
					</a>
				</md-card-media>
				<md-card-header-text style="margin:12px">
					<div class="md-subheading">打開 line 搜尋 @832ldgop 或掃描 QR Code 加入好友，即可參與投票</div>
				</md-card-header-text>
			</md-card-header>
		</md-card>

		<md-card class="md-layout-item md-size-70 md-small-size-90" style="margin-top:12px;" v-for="(candidate, id) in profile">
			<md-card-header>
				<md-card-media md-medium>
					<img :src="'https://ipfs.globalupload.io/'+candidate['photo']" alt="Photo">
				</md-card-media>
				<md-card-header-text style="margin:12px">
					<div class="md-title">{{ candidate['name'] }} / {{ candidate['vote'] }} 票</div>
					<div class="md-subhead">{{ candidate['info'] }}</div>
				</md-card-header-text>
				<md-icon class="md-size-2x md-accent" v-if="id == selected">thumb_up</md-icon>
			</md-card-header>
			<md-progress-bar :md-value="candidate['vote']/voteTotal*100" style="margin:8px;height:12px;"></md-progress-bar>
		</md-card>

	</div>
</div>

<script src="src/vue.min.js"></script>
<script src="src/vue-resource.min.js"></script>
<script src="src/vue-material.min.js"></script>
<script src="src/web3.min.js"></script>
<script type="text/javascript" src="src/PresidentPoll.json"></script>
<script>
let urlParams = new URLSearchParams(window.location.search);
let uid = "0x0000000000000000000000000000000000000000"
if (urlParams.has('uid')) { uid = urlParams.get('uid') }

Vue.use(VueMaterial.default)
var app = new Vue({
	el: '#app',
	data: {
		userAddr: uid,
		pollAddr: "0xB2e4d7Ed2486aAC6E9186D5469206768F9c88fb0",
		profile: {},
		voteTotal: 0,
		balance: 0,
		selected: 0,
		showNavigation: false,
		pollAbi: pollAbi,
		dummy: ""
	},
	created: function() {
		const rpcUrl = 'https://rinkeby.infura.io/11221257d2b1454c875afcc1ad8109a8';
		const web3 = new Web3(new Web3.providers.HttpProvider(rpcUrl));
		const pollContract = new web3.eth.Contract(this.pollAbi, this.pollAddr, {from: this.userAddr});
		web3.eth.getBalance(this.userAddr, (err, balance) => {
			this.balance = (balance/1e18).toFixed(6)
		})

		// get profile
		for (let i = 1; i < 4; i++) {
			pollContract.methods.candidates(i).call().then( (hash) => {
				// console.log("data-" + i + " = ", hash)
				return this.$http.get('https://ipfs.globalupload.io/Qm'+hash)
			}).then( (data) => {
				// console.log("name-" + i + " = ",  data.body.name)
				this.$set(this.profile, i, data.body)
				return pollContract.methods.pollOf(i).call()
			}).then( (vote) => {
				// console.log("vote-" + i + " = ",  vote)
				this.voteTotal += Number(vote)
				this.$set(this.profile[i], 'vote', vote)
			}).catch( (error) => {
				// console.log(error)
			})
		}

		// get user vote
		pollContract.methods.voteOf(this.userAddr).call().then( (id) => {
			// console.log("id = ", id)
			this.selected = id
		})

	}
})

</script>
</body>
</html>