<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta content="width=device-width,initial-scale=1,minimal-ui" name="viewport">
	<link rel="stylesheet" href="src/font.css">
	<link rel="stylesheet" href="src/vue-material.min.css">
	<link rel="stylesheet" href="src/default.css">
	<style type="text/css">
		body{ font-family: Arial, "微軟正黑體"; }
	</style>
	<title>區塊鍊民調</title>
</head>

<body>
<div id="app">
	<div class="md-layout md-gutter md-alignment-center-space-around">
		<span class="md-title" style="margin-top:12px;">2020 總統大選 - 區塊鍊民調</span>

		<md-toolbar class="md-primary md-dense" style="margin-top:12px;">
			<md-button class="md-icon-button" @click="showNavigation = true">
				<md-icon>menu</md-icon>
			</md-button>
			<span class="md-subheading">此智能合約運行在 - Rinkeby 測試鍊</span>
		</md-toolbar>

		<md-drawer  :md-active.sync="showNavigation">
			<md-list class="md-double-line">
				<md-list-item :href="'https://rinkeby.etherscan.io/address/'+pollAddr">
					<md-icon class="md-size-2x">how_to_vote</md-icon>
					<span class="md-list-item-text md-title">合約帳戶</span>
				</md-list-item>
				<md-list-item v-if="login" :href="'https://rinkeby.etherscan.io/address/'+userAddr">
					<md-icon class="md-size-2x">account_balance</md-icon>
					<span class="md-list-item-text md-title">您的帳戶</span>
				</md-list-item>
				<md-list-item v-if="login">
					<md-icon class="md-size-2x">attach_money</md-icon>
					<span class="md-list-item-text md-title">{{ balance }} ETH</span>
				</md-list-item>
				<md-list-item href="mailto:luckscylla2@gmail.com?Subject=關於區塊鍊民調">
					<md-icon class="md-size-2x">mail_outline</md-icon>
					<span class="md-list-item-text md-title">聯絡我們</span>
				</md-list-item>
			</md-list>
		</md-drawer>

		<md-content class="md-layout-item md-layout md-alignment-center-left md-size-70 md-small-size-90"
			style="margin-top:12px;">
			<div class="md-layout-item md-size-40" >
				<a href="http://nav.cx/1kFnBHf">
					<img src="public/832ldgop.png" style="max-height:180px;">
				</a>
			</div>
			<div class="md-layout-item">
				<div class="md-subheading">打開 line 搜尋 @832ldgop 或掃描 QR Code 加入好友，即可參與投票</div>
			</div>
		</md-content>

		<md-content class="md-layout-item md-layout md-alignment-center-center md-size-70" v-if="loading">
			<md-progress-spinner md-mode="indeterminate" md-diameter="80"></md-progress-spinner>
		</md-content>

		<md-card class="md-layout-item md-layout md-alignment-center-left md-size-70 md-small-size-90 md-elevation-3"
			style="margin-top:12px;" v-for="(candidate, id) in profile">
			<div class="md-layout-item md-size-40" style="margin-top:8px;">
				<img :src="'public/'+candidate['photo']" style="max-height:180px;">
			</div>
			<div class="md-layout-item">
				<div class="md-subheading">{{ candidate['name'] }} / {{ candidate['vote'] }} 票</div>
				<div class="md-caption">{{ candidate['info'] }}</div>
			</div>
			<md-icon class="md-size-2x md-accent" v-if="id == selected">thumb_up</md-icon>
			<div class="md-layout-item md-size-100">
				<md-progress-bar :md-value="candidate['vote']/voteTotal*100" style="margin:8px;height:12px;"></md-progress-bar>
			</div>
		</md-card>

	</div>
</div>

<script src="src/vue.min.js"></script>
<script src="src/vue-resource.min.js"></script>
<script src="src/vue-material.min.js"></script>
<script src="src/polyfill.min.js"></script>
<script src="src/web3.min.js"></script>
<script type="text/javascript" src="contract/PresidentPoll.json"></script>
<script>
let uid = "0x0"
if (typeof URLSearchParams === 'function') {
	let urlParams = new URLSearchParams(window.location.search);
	if (urlParams.has('uid')) { uid = urlParams.get('uid') }
}

Vue.use(VueMaterial.default)
var app = new Vue({
	el: '#app',
	data: {
		userAddr: uid,
		pollAddr: "",
		profile: {},
		voteTotal: 0,
		balance: 0,
		selected: 0,
		login: false,
		loading: true,
		showNavigation: false,
		pollAbi: pollAbi,
		dummy: ""
	},
	created: function() {
		// init web3
		const rpcUrl = 'https://rinkeby.infura.io/11221257d2b1454c875afcc1ad8109a8';
		const web3 = new Web3(new Web3.providers.HttpProvider(rpcUrl));

		// set user address
		if (web3.utils.isAddress(this.userAddr)) {
			this.login = true
		} else {
			this.userAddr = "0x0000000000000000000000000000000000000000"
		}

		// init contract
		this.pollAddr = "0xB2e4d7Ed2486aAC6E9186D5469206768F9c88fb0"
		const pollContract = new web3.eth.Contract(this.pollAbi, this.pollAddr, {from: this.userAddr});
		if (this.login) {
			web3.eth.getBalance(this.userAddr, function(err, balance) {
				this.balance = (balance/1e18).toFixed(8)
			})
		}

		// get profile from block-chain
		// for (let i = 1; i < 4; i++) {
		// 	pollContract.methods.candidates(i).call().then( (hash) => {
		// 		// console.log("data-" + i + " = ", hash)
		// 		return this.$http.get('https://ipfs.globalupload.io/Qm'+hash)
		// 	}).then( (data) => {
		// 		// console.log("name-" + i + " = ",  data.body.name)
		// 		this.loading = false
		// 		this.$set(this.profile, i, data.body)
		// 		return pollContract.methods.pollOf(i).call()
		// 	}).then( (vote) => {
		// 		// console.log("vote-" + i + " = ",  vote)
		// 		this.voteTotal += Number(vote)
		// 		this.$set(this.profile[i], 'vote', vote)
		// 	}).catch( (error) => {
		// 		// console.log(error)
		// 	})
		// }

		// get profile from local to speed up loading
		this.profile[1] = {name:"蔡英文", info:"民主進步黨 / 現任中華民國總統", photo:"QmbfGX4VsgDdVcBBHC9fuMSHqYFVZsbKVHhTUL7XPYefSu.jpg"}
		this.profile[2] = {name:"韓國瑜", info:"中國國民黨 / 現任高雄市市長", photo:"QmXA62z4Ku27PEpnDvnbfvbtbsaYrWTR6h1oV343oRVEYM.jpg"}
		this.profile[3] = {name:"柯文哲", info:"台灣民眾黨 / 現任台北市市長", photo:"QmWZvQNeTyz41RLmkzyyphGvmUTBW2qYm61e6WACD7d5aN.jpg"}
		this.loading = false
		let self = this
		for (let i = 1; i < 4; i++) {
			pollContract.methods.pollOf(i).call().then( (function(vote) {
				let j = i;
				return function(vote) {
					self.voteTotal += Number(vote)
					self.$set(self.profile[j], 'vote', vote)
				}
			})() );
		}

		// get user vote
		pollContract.methods.voteOf(self.userAddr).call().then( function(id) {
			// console.log("id = ", id)
			self.selected = id
		})

	}
})

</script>
</body>
</html>